<ion-view view-title="今日美食">
  <div class="tabs-striped tabs-color-royal">
    <div class="tabs">
        <a class="tab-item active" href="#">猜你喜欢</a>
        <a class="tab-item" href="#/app/customize.html">私人订制</a>
    </div>
  </div>

  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="食材，菜谱">
      </label>
      <button class="button button-clear">Cancel</button>
    </div>

    <ion-list>
      <ion-item ng-repeat="recipe in recipes" href="#/app/recipes/{{recipe.id}}" class="item-thumbnail-left item-text-wrap">
        <img ng-src="{{recipe.image}}">
        <h3>{{recipe.name}}</h3>
        <div><ion-badge style="font-size:75%" ng-repeat="ing in recipe.ingredients" href="ing.category">{{ing.name}}&nbsp;</ion-badge></div>
        <div>
          <span style="font-size:75%">
            综合评分&nbsp;<span style="font-weight:bold; color:green">{{recipe.overallRating}}</span>
            &nbsp;</br>做过&nbsp;<span style="font-weight:bold; color:green">{{recipe.cooked}}</span>
            &nbsp;收藏&nbsp;<span style="font-weight:bold; color:green">{{recipe.userLikes}}</span>
          </span>
        </div>
        <ion-option-button class="button-assertive icon ion-plus-circled"
            ng-click="addFavorite({{dish.id}})">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
